body{
    font-size: 20px;
    min-width: 900px;
}
.header_devider{
    font-weight: bold;
    margin: 15px;
}
header a{
    color: #069;
}
header a:first-child{
    margin-left: 30%;
}
#calendar_inputs{
    margin: 15px auto;
    width: 60%;
}
#calendar_configure label{
    display: block;
    margin: 5px;
}

#calendar_configure_code_section{
    float: left;
    width: 30%;
    border: 2px groove rgb(192,192,192);
    margin: 20px 15%;
}
#calendar_configure_code_section span{
    display: block;
}